/* style.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
}

form {
	display: flex;
	flex-direction: column;
}

textarea {
	width: 500px;
	height: 200px;
	
	resize: none;
	
	margin: 30px 0;
}

button[type="submit"] {
	width: 100px;
	height: 45px;
	
	padding: 2px;
	
	background-color: skyblue;
	color: #fff;
	
	border-radius: 12px;
}
