<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
	<style>
		a {
			color: #222;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg" style="border-bottom: 1px solid #222;">
	  <div class="container">
	    <a class="navbar-brand" th:href="@{/}">Spring Boot Study</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" th:href="@{/question/list}">List</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link">Rest</a>
	        </li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user/login}" sec:authorize="isAnonymous()">Login</a>
				<a class="nav-link" th:href="@{/user/logout}" sec:authorize="isAuthenticated()">Logout</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user/signup}" sec:authorize="isAnonymous()">Regist</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/h2-console}">DB</a>
			</li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<th:block layout:fragment="content"></th:block>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>