<html layout:decorate="~{layout}">
<div class="container" layout:fragment="content">
	<div class="row">
		<div class="col">
			<div class="jumbotron" style="margin: 30px 0;">
				<h1>질문목록</h1>
				<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
			</div>
			<table class="table table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">번호</th>
			      <th scope="col">제목</th>
				  <th scope="col">글쓴이</th>
			      <th scope="col">작성일자</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="question, loop : ${paging}">
			      <td>[[${paging.getTotalElements - (paging.number * paging.size) - loop.index}]]</td>
			      <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
				<span class="badge text-bg-danger">[[${#lists.size(question.answerList)}]]</span></td>
				<td>[[${question.author.username}]]</td>
			      <td th:text="${#temporals.format(question.createDate, 'yyyy년 MM월 dd일')}"></td>
			    </tr>
			  </tbody>
			</table>
			<!-- s: paging -->
			<div class="wrap w-100 d-flex justify-content-center align-items-center">				
				<nav aria-label="Page navigation example" th:if="${!paging.isEmpty()}">
				  	<ul class="pagination">
				    	<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
				     		<a class="page-link" th:href="@{|?page=${paging.number - 1}|}" aria-label="Previous">
				        		<span aria-hidden="true">&laquo;</span>
				      		</a>
				    	</li>
				    	<li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}" th:classappend="${paging.number == page} ? 'active'" th:if="${page >= paging.number - 2 and page <= paging.number + 2}"><a class="page-link" th:href="@{|?page=${page}|}">[[${page}]]</a></li>
					    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
					      	<a class="page-link" th:href="@{|?page=${paging.number + 1}|}" aria-label="Next">
					        	<span aria-hidden="true">&raquo;</span>
					      	</a>
					    </li>
				  	</ul>
				</nav>
			</div>
			<!-- e: paging -->
		</div>
	</div>
</html>