<html layout:decorate="~{layout}">
	<div class="container" layout:fragment="content">
		<h1 style="margin: 30px 0;" class="fw-bold">Regist</h1>
		<div class="row">
			<div class="col">
				<form th:object="${userCreateForm}" method="post" th:action="@{/user/signup}" enctype="multipart/form-data">
					<div th:replace="~{form_errors::formErrorsFragment}"></div>
				  	<div class="mb-3">
				    	<label for="username" class="form-label fw-bold">User Name</label>
				    	<input type="text" class="form-control" th:field="*{username}" placeholder="User Name">
				  	</div>
				  	<div class="mb-3">
				    	<label for="password" class="form-label fw-bold">Password</label>
				    	<input type="password" class="form-control" th:field="*{password}" placeholder="Passowrd">
				  	</div>
				  	<div class="mb-3">
  				    	<label for="password2" class="form-label fw-bold">Password Confirm</label>
  				    	<input type="password" class="form-control" th:field="*{password2}" placeholder="Passowrd Confirm">
				  	</div>
				  	<div class="mb-3">
				    	<label for="email" class="form-label fw-bold">Email</label>
				    	<input type="email" class="form-control" th:field="*{email}" placeholder="Email">
				  	</div>
					<div class="mb-3">
						<label for="imageUrl" class="form-label fw-bold">Profile</label>
						<input type="file" class="form-control" name="imageFile" id="imageUrl" placeholder="Profile">
					</div>
				  	<button type="submit" class="btn btn-primary">Regist</button>
				</form>
			</div>
		</div>
	</div>
</html>